.desktop {
    display: block;
}

.mobile {
    display: none;
}

.mobile_320 {
    display: none;
}

button:hover {
    color: #02eaff;
    border: 1px solid #02eaff !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'PT Sans Caption', arial, sans-serif;
    font-weight: 700;
}

p,
div,
span,
a,
li {
    font-family: 'PT Sans Caption', arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}

h1 {
    font-size: 57px;
    line-height: 57px;
}

h2 {
    font-size: 30px;
    line-height: 35px;
}

h3 {
    font-size: 20px;
    line-height: 20px;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.clear {
    clear: both;
}

form input[type="checkbox"] {
    width: auto;
    float: left;
    margin: -10px 5px
}

.container {
    width: 100%;
}

.wrap {
    width: 980px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.left_col {
    float: left;
}

.right_col {
    float: right;
}

.center_col {
    float: center;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.dark_gray {
    color: #7c7c7c;
}

.light_gray {
    color: rgba(114, 114, 114, 0.65);
}

.white {
    color: #fff;
}

.white_50 {
    color: rgba(255, 255, 255, 0.5);
}

.white_60 {
    color: rgba(255, 255, 255, 0.6);
}

.white_70 {
    color: rgba(255, 255, 255, 0.7);
}

.white_80 {
    color: rgba(255, 255, 255, 0.8);
}

.black {
    color: #000;
}

.old_price {
    color: rgba(114, 114, 114, 0.65);
    text-decoration: line-through;
    padding-right: 30px;
}

.order_button {
    display: block;
    height: 50px;
    width: 272px;
    background-color: #6581f9; //background-color: rgba(44,60,151,0.7);
    border: none;
    font-size: 25px;
    color: #ffffff;
    font-weight: 700;
    margin: 25px auto 0 auto;
    cursor: pointer;
}

form input,
select {
    width: 252px;
    border: 1px solid #e0e0e0;
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
    color: #e0e0e0;
    margin-bottom: 15px;
    background-color: transparent;
}

form select {
    width: 272px;
}

.timer {
    margin-bottom: 20px;
    text-align: left;
}

.timer .block {
    float: left;
}

.timer .block .rect {
    border-radius: 5px;
    font-family: 'PT Sans Caption', arial, sans-serif;
    font-weight: bold;
    line-height: 45px;
    font-size: 45px;
    padding: 0 5px;
}

.timer .block .label {
    font-size: 12px;
    text-align: center;
}

.timer .points {
    float: left;
    width: 23px;
    height: 59px;
    text-align: center;
    line-height: 45px;
    font-size: 45px;
    font-family: 'PT Sans Caption', arial, sans-serif;
    font-weight: bold;
}

#header {
    background-color: #6581f9;
    height: 70px;
    position: fixed;
    top: 0px;
    z-index: 32;
}

#header .logo {
    /*background: url('../img/logo.png') no-repeat center center;*/
    width: 130px;
    height: 70px;
    float: left;
    display: flex;
    align-items: center;   
    font-size: 26px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; 
}

#header ul {
    list-style-type: none;
    display: block;
    float: right;
}

#header ul li {
    float: left;
    margin-left: 38px;
}

#header ul li a {
    line-height: 70px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

#block1 {
    background: url('../img/block1.jpg') no-repeat center center;
    height: 770px;
}

#block1 .product_descr {
    width: 565px;
}

#block1 .wrap {
    padding-top: 20px;
}

#block1 .product_descr>h1 {
    margin-bottom: 20px;
    padding-top: 110px;
}

#block1 .product_descr>p {
    font-size: 18px;
    margin-bottom: 55px;
    font-weight: bold;
}

#block1 .product_descr ul li:before {
    content: "\2014";
    margin-left: 0ex;
    margin-right: 1ex;
}

#block1 .item {
    float: left;
    width: 155px;
    padding: 70px 0px 0;
    background: url(../img/block1_reason1.png) no-repeat top center;
    text-align: center;
    margin-bottom: 40px;
}

#block1 .item+.item {
    background: url(../img/block1_reason2.png) no-repeat top center;
    padding: 70px 40px 0;
}

#block1 .item+.item+.item {
    background: url(../img/block1_reason3.png) no-repeat top center;
    padding: 70px 0px 0;
}

#block1 .product_descr ul li {
    font-size: 15px;
    line-height: 26px;
}

#block1 .order_form {
    width: 272px;
    margin-top: 155px;
    text-align: center;
    padding: 15px 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

#block1 .order_form .sale {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
}

#block1 .price span {
    font-size: 20px;
    font-weight: bold;
}

#block1 .order_form .summary,
#block1 .order_form .callback {
    font-size: 13px;
    margin: 30px 0;
}

#block1 .order_form .callback {
    margin: 30px 0 0 0;
}

#block2 {
    background: #ffffff;
    height: 1770px;
}

#block2 h2 {
    padding-top: 95px;
    margin-bottom: 60px;
    text-align: center;
}

#block2 .component {
    width: 440px;
    float: left;
    padding: 0 20px;
    margin-bottom: 40px;
}

#block2 .component h3 {
    margin-bottom: 20px;
    text-align: left;
    margin-top: 20px;
}

#block2 .component h3,
#block2 .component p {
    width: 230px;
    line-height: 1.3;
}

#block2 .component .comp_img {
    display: block;
    width: 142px;
    height: 142px;
}

#block2 .block2_2 {
    background: url('../img/block2_2.png') no-repeat center center;
    width: 100%;
    height: 172px;
    margin-top: 45px;
}

#block2 .group .item {
    width: 172px;
    float: left;
    padding: 0 12px;
}

#block2 .group .item img {
    display: block;
    margin: 0 auto;
}

#block2 .group .item h3 {
    text-align: center;
    margin: 10px 0;
}

#block2 .group .item p {
    text-align: center;
}

#block3 {
    background: url('../img/block3.jpg') no-repeat center center;
    height: 641px;
}

#block3 .product_descr {
    width: 440px;
}

#block3 .product_descr>h1 {
    margin-bottom: 50px;
    padding-top: 90px;
    font-size: 45px;
}

#block3 .product_descr>p:first-of-type {
    font-size: 18px;
    margin-bottom: 55px;
    font-weight: bold;
}

#block3 .product_descr .callback {
    margin: 30px 0 0 0;
    font-size: 13px;
    font-weight: normal;
    width: 265px;
    line-height: 1.5;
}

#block3 .arrow {
    background: url('../img/arrow.png') no-repeat center center;
    height: 100%;
    width: 110px;
}

#block3 .order_form {
    width: 272px;
    margin-top: 95px;
    text-align: center;
    padding: 15px 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

#block3 .order_form .sale {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
}

#block3 .price span {
    font-size: 20px;
    font-weight: bold;
}

#block3 .order_form .summary,
#block1 .order_form .callback {
    font-size: 13px;
    margin: 30px 0;
}

#block4 {
    background: #ffffff;
    height: 1500px;
}

#block4 h2 {
    padding-top: 75px;
    margin-bottom: 40px;
    text-align: center;
}

#block4 .wrap>h2:last-of-type {
    padding-top: 60px;
    margin-bottom: 60px;
}

#block4 .flexslider {
    width: 810px;
    margin: 40px auto 0 auto;
    position: relative;
}

#block4 .flex-control-nav {
    display: none;
}

#block4 .slides {
    float: left;
}

#block4 .slides li {
    list-style: none;
}

#block4 .slides li .review {
    width: 100%;
}

#block4 .flex-next {
    background: url("../img/arrow-right.png") no-repeat center center;
    width: 64px;
    height: 64px;
    position: absolute;
    right: 27%;
    top: 28%;
    margin-top: -40px;
    text-indent: -9999999px;
}

#block4 .flex-prev {
    background: url("../img/arrow-left.png") no-repeat center center;
    width: 65px;
    height: 65px;
    position: absolute;
    left: 27%;
    top: 28%;
    margin-top: -40px;
    text-indent: -9999999px;
}

#block4 .slides .photo {
    width: 112px;
    height: 112px;
    margin: 20px auto;
}

#block4 .slides .title {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

#block4 .slides p {
    font-size: 14px;
    text-align: center;
    margin-top: 40px;
    line-height: 1.5;
}

#block4 .block4_2 {
    background: url('../img/block4_2.png') no-repeat center center;
    width: 100%;
    height: 172px;
    margin-top: 100px;
}

#block4 .fake_img {
    margin-right: 90px;
    background: url('../img/block4_3.png') no-repeat center center;
    width: 405px;
    height: 252px;
}

#block4 .fake_descr {
    width: 485px;
}

#block4 .fake_descr p {
    line-height: 25px;
    font-size: 14px;
    margin-bottom: 30px;
}

#block4 .item {
    width: 210px;
    padding: 0 58px;
}

#block4 .item img {
    display: block;
    width: 64px;
    height: 64px;
    margin: 0 auto 30px auto;
}

#block4 .item p {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

#block5 {
    background: url('../img/block5.jpg') no-repeat center center;
    height: 641px;
}

#block5 {
    background: url('../img/block3.jpg') no-repeat center center;
    height: 641px;
}

#block5 .product_descr {
    width: 440px;
}

#block5 .product_descr>h1 {
    margin-bottom: 50px;
    padding-top: 90px;
    font-size: 45px;
}

#block5 .product_descr>p:first-of-type {
    font-size: 18px;
    margin-bottom: 55px;
    font-weight: bold;
}

#block5 .product_descr .callback {
    margin: 30px 0 0 0;
    font-size: 13px;
    font-weight: normal;
    width: 265px;
    line-height: 1.5;
}

#block5 .arrow {
    background: url('../img/arrow.png') no-repeat center center;
    height: 100%;
    width: 110px;
}

#block5 .order_form {
    width: 272px;
    margin-top: 95px;
    text-align: center;
    padding: 15px 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

#block5 .order_form .sale {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
}

#block5 .price span {
    font-size: 20px;
    font-weight: bold;
}

#block5 .order_form .summary,
#block1 .order_form .callback {
    font-size: 13px;
    margin: 30px 0;
}

#footer {
    height: 211px;
    text-align: center;
    background-color: #36437e;
    padding-top: 25px;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 16px;
    color: #fff;
}

#footer .left {
    width: 335px;
    padding-top: 50px;
    text-align: left;
}

#footer .left .logo {
    width: 129px;
    height: 37px;
    background: url(../img/logo.png) no-repeat center center;
    text-align: left;
    margin-bottom: 25px;
}

#footer .left+.left p {
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px 20px;
    margin: 5px;
    text-align: left;
}

#footer .right {
    padding-top: 50px;
    width: 150px;
}

#footer .right li:before {
    content: none;
}

#footer .right li {
    text-align: left;
    line-height: 30px;
}

#footer .right li a {
    margin-top: 0px;
    display: inline-block;
}

#footer a:hover {
    text-decoration: underline;
}

.mobile {
    display: none;
}

.mobile320 {
    display: none;
}

/*-----------------------------------------------------------------------------*/

/*-----------------640-------------------*/

/*-----------------------------------------------------------------------------*/

@media screen and (max-width: 980px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .mobile320 {
        display: none;
    }
    .wrap {
        width: 570px;
    }
    #header {
        display: none;
    }
    #block1 .item {
        display: none;
    }
    #block1 {
        background: url('../img/block1_640.jpg') no-repeat center center;
        height: 1240px;
    }
    #block1 .product_descr {
        width: 565px;
        margin: 0 auto;
        text-align: center;
        float: none;
    }
    #block1 .wrap {
        padding-top: 0px;
    }
    #block1 .product_descr>h1 {
        margin-bottom: 20px;
        padding-top: 60px;
    }
    #block1 .product_descr .product_img {
        margin-top: 10px;
        background: url('../img/product11.png') no-repeat top center;
        height: 190px;
    }
    #block1 .order_form {
        margin: 0 auto 0 auto;
        float: none;
    }
    #block2 {
        height: 3260px;
    }
    #block2 h2 {
        padding-top: 60px;
        margin: 0 auto 60px auto;
        text-align: center;
        width: 450px;
    }
    #block2 .component {
        width: 440px;
        float: none;
        padding: 0 20px;
        margin: 0 auto 40px auto;
    }
    #block2 .block2_2 {
        background: url('../img/block2_2_640.png') no-repeat center center;
        width: 100%;
        height: 349px;
        margin-top: 45px;
    }
    #block2 .group .item {
        width: 172px;
        float: left;
        padding: 0 20px;
        margin-bottom: 50px;
    }
    #block2 .group .item:nth-of-type(1),
    #block2 .group .item:nth-of-type(4) {
        margin-left: 65px;
    }
    #block2 .group .item:last-of-type {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    #block3 {
        background: url('../img/block3_640.jpg') no-repeat center center;
        height: 945px;
    }
    #block3 .product_descr {
        width: 100%;
        float: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    #block3 .product_descr>h1 {
        margin-bottom: 40px;
        padding-top: 80px;
        font-size: 45px;
    }
    #block3 .product_descr .callback {
        margin: 30px auto 0 auto;
        font-size: 13px;
        font-weight: normal;
        width: 265px;
        line-height: 1.5;
    }
    #block3 .product_descr .timer {
        width: 240px;
        margin-left: auto;
        margin-right: auto;
    }
    #block3 .order_form {
        margin: 50px auto 0 auto;
        text-align: center;
        float: none;
    }
    #block4 {
        height: 2060px;
    }
    #block4 h2 {
        padding-top: 60px;
        margin-bottom: 30px;
        text-align: center;
    }
    #block4 .flexslider {
        width: 550px;
        margin: 10px auto 0 auto;
        position: relative;
    }
    #block4 .flex-next {
        right: 28%;
        top: 25%;
    }
    #block4 .flex-prev {
        left: 28%;
        top: 25%;
    }
    #block4 .block4_2 {
        background: url('../img/block4_2_640.png') no-repeat center center;
        width: 100%;
        height: 349px;
        margin-top: 100px;
    }
    #block4 .fake_img {
        margin: 60px auto;
        background: url('../img/block4_3_640.png') no-repeat center center;
        width: 405px;
        height: 252px;
        float: none;
    }
    #block4 .wrap>h2:last-of-type {
        padding-top: 0px;
        margin-bottom: 30px;
    }
    #block4 .fake_descr {
        width: 485px;
        float: none;
        margin: 0 auto;
    }
    #block4 .item {
        width: 210px;
        padding: 0 0px;
        margin-bottom: 30px;
    }
    #block4 .group .item:first-of-type {
        margin-left: 40px;
        margin-right: 60px;
    }
    #block4 .group .item:last-of-type {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    #block4 .item img {
        display: block;
        width: 64px;
        height: 64px;
        margin: 0 auto 30px auto;
    }
    #block4 .item p {
        font-size: 16px;
        text-align: center;
        font-weight: bold;
    }
    #block5 {
        background: url('../img/block3_640.jpg') no-repeat center center;
        height: 945px;
    }
    #block5 .product_descr {
        width: 100%;
        float: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    #block5 .product_descr>h1 {
        margin-bottom: 50px;
        padding-top: 60px;
        font-size: 45px;
    }
    #block5 .product_descr .callback {
        margin: 30px auto 0 auto;
        font-size: 13px;
        font-weight: normal;
        width: 265px;
        line-height: 1.5;
    }
    #block5 .product_descr .timer {
        width: 240px;
        margin-left: auto;
        margin-right: auto;
    }
    #block5 .order_form {
        margin: 50px auto 0 auto;
        text-align: center;
        float: none;
    }
}

/*-----------------------------------------------------------------------------*/

/*-----------------320-------------------*/

/*-----------------------------------------------------------------------------*/

@media screen and (max-width: 639px) {
    .wrap {
        width: 282px;
    }
    .desktop {
        display: none;
    }
    .mobile320 {
        display: block;
    }
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 25px;
    }
    #block1 {
        background: url('../img/block1_320.jpg') no-repeat center center;
        height: 1100px;
    }
    #block1 .item {
        display: none;
    }
    #block1 .product_descr {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        float: none;
    }
    #block1 .product_descr>p {
        line-height: 1.3;
    }
    #block1 .wrap {
        padding-top: 0px;
    }
    #block1 .product_descr>h1 {
        margin-bottom: 20px;
        padding-top: 40px;
        line-height: 40px;
    }
    #block1 .product_descr .product_img {
        margin-top: 20px;
        background: url('../img/product12.png') no-repeat top center;
        height: 200px;
    }
    #block1 .order_form .callback {
        margin-bottom: 0px;
    }
    #block1 .order_form {
        margin: 0 auto 0 auto;
        float: none;
        padding: 15px 10px;
    }
    #block2 {
        height: 4950px;
    }
    #block2 h2 {
        padding-top: 60px;
        margin: 0 auto 60px auto;
        text-align: center;
        width: 280px;
    }
    #block2 .component {
        width: 280px;
        float: none;
        padding: 0px;
        margin: 0 auto 40px auto;
        text-align: center;
    }
    #block2 .component img {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    #block2 .component h3 {
        float: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    #block2 .component p {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    #block2 .block2_2 {
        background: url('../img/block2_2_320.png') no-repeat center center;
        width: 100%;
        height: 402px;
        margin-top: 45px;
    }
    #block2 .group .item {
        width: 172px;
        float: none;
        padding: 0 20px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    #block2 .group .item:nth-of-type(1),
    #block2 .group .item:nth-of-type(4) {
        margin-left: auto;
    }
    #block2 .group .item:last-of-type {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    #block3 {
        background: url('../img/block3_320.jpg') no-repeat center center;
        height: 915px;
    }
    #block3 .product_descr {
        width: 100%;
        float: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    #block3 .product_descr>h1 {
        margin-bottom: 50px;
        padding-top: 60px;
        font-size: 25px;
        line-height: 30px;
    }
    #block3 .product_descr .callback {
        margin: 30px auto 0 auto;
        font-size: 13px;
        font-weight: normal;
        width: 265px;
        line-height: 1.5;
    }
    #block3 .product_descr .timer {
        width: 240px;
        margin-left: auto;
        margin-right: auto;
    }
    #block3 .order_form {
        margin: 50px auto 0 auto;
        text-align: center;
        float: none;
        padding: 15px 10px;
    }
    #block4 {
        height: 2385px;
    }
    #block4 h2 {
        padding-top: 50px;
        margin-bottom: 20px;
        text-align: center;
    }
    #block4 .flexslider {
        width: 280px;
        margin: 10px auto 0 auto;
        position: relative;
    }
    #block4 .flex-next {
        right: 10%;
        top: 18%;
    }
    #block4 .flex-prev {
        left: 10%;
        top: 18%;
    }
    #block4 .block4_2 {
        background: url('../img/block4_2_320.png') no-repeat center center;
        width: 100%;
        height: 404px;
        margin-top: 60px;
    }
    #block4 .fake_img {
        margin: 40px auto;
        background: url('../img/block4_3_320.png') no-repeat center center;
        width: 100%;
        height: 210px;
        float: none;
    }
    #block4 .wrap>h2:last-of-type {
        padding-top: 0px;
        margin-bottom: 30px;
    }
    #block4 .fake_descr {
        width: 100%;
        float: none;
        margin: 0 auto;
    }
    #block4 .item {
        width: 210px;
        padding: 0 0px;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    #block4 .item img {
        margin-bottom: 15px;
    }
    #block4 .group .item:first-of-type {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    #block5 {
        background: url('../img/block3_320.jpg') no-repeat center center;
        height: 914px;
    }
    #block5 .product_descr {
        width: 100%;
        float: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    #block5 .product_descr>h1 {
        margin-bottom: 50px;
        padding-top: 60px;
        font-size: 25px;
        line-height: 30px;
    }
    #block5 .product_descr .callback {
        margin: 30px auto 0 auto;
        font-size: 13px;
        font-weight: normal;
        width: 265px;
        line-height: 1.5;
    }
    #block5 .product_descr .timer {
        width: 240px;
        margin-left: auto;
        margin-right: auto;
    }
    #block5 .order_form {
        margin: 50px auto 0 auto;
        text-align: center;
        float: none;
        padding: 15px 10px;
    }
}

.price {
    margin-bottom: 20px
}